.hide{
  display: none;
}

.show{
  display: block;
}

.hide-dk{
  display: none;
}

.hide-phone{
  @include responsive(phone){
    display: none;
  }
}
.show-phone{
  @include responsive(phone){
    display: block;
  }
}

.ft-hide{
  display: none;
}

.invisible-annoying-error-killer{
  display: none;
}

.transition-fx{
  @include col(4/4); margin-right: 0;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: $primary-color;
  z-index: 8000;
  position: fixed;
  display: none;
}
