@import "responsive/manifest";
@import "typography/manifest";
@import "config";

//header
.el-brand{
  @include typo(1.2em, $white, 600);
  position: relative;
  opacity: 0;
  left: -10em;
  font-family: 'Source Code Pro', monospace;
  // margin-left: 1.5em;
  @include responsive(big-desktop){
    @include typo(2.5em, $white, 600);
  }
  @include responsive(tab-land){
    margin-left: 0;
  }
}

//el-hero-section
.ehc-center-txt{
  @include typo(6em, $white, 500);
  font-family: $hs-title-font;
  line-height: 1em;
  position: relative;
  display: none;
  @include responsive(big-desktop){
    @include typo(10em, $white, 500);
  }
  @include responsive(sm){
    @include typo(4em, $white, 500);
    margin-top: -1em;
  }
}

.hlb-span-line{
  width: 7%;
  height: 0%;
  background: $secondary-color;
  position: absolute;
  margin-left: -1.3em;
  margin-top: 1em;
  transform-origin: bottom;

  @include responsive(big-desktop){
    background: $secondary-color;
    width: .7%;
    height: 10%;
    margin-left: -.1em;
    margin-top: 1.5em;
  }
  @include responsive(tab-land){
    background: $white;
  }
  @include responsive(tab-port){
    display: none;
  }
  @include responsive(sm){
    display: block;
    margin-left: -2.5em;
  }
}
.hsl-anim-loop{
  animation: hslAnimLoop 3s cubic-bezier(0.19, 1, 0.22, 1) forwards infinite;
  animation-delay: 7s;

  @keyframes hslAnimLoop {
    0% {
      height: 0%;
    }
    100% {
      opacity: 0;
      height: 10%;
    }
  }
}

.hlb-txt-hor{
  @include typo(.8em, $white, 900);
  font-family: $title-font;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 35em;
  margin-left: -2em;

  @include responsive(big-desktop){
    @include typo(2em, $white, 400);
    margin-top: 25em;
    margin-left: -.7em;
  }
  @include responsive(phone){
    margin-top: 44em;
  }
  @include responsive(sm){
    margin-top: 23em;
    margin-left: -3.5em;
  }
}

.hls-english-active{
  @include typo(.9em, $white, 700);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration-line: underline;
  &:hover{
    cursor: pointer;
  }
  @include responsive(big-desktop){
    @include typo(2em, $white, 500);
  }
}

.hls-spanish-deactive{
  @include typo(.9em, $secondary-color, 300);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  &:hover{
    cursor: pointer;
  }
  @include responsive(big-desktop){
    @include typo(2em, $secondary-color, 500);
  }
}

//first-section
.fs-title{
  @include typo(1.5em, $secondary-color, 300);
  margin-bottom: .5em;
  @include responsive(phone){
    margin-bottom: 1em;
  }
}

.fs-sub-title{
  @include typo(2em, $darko, 900);
  line-height: 1em;
  margin-bottom: .4em;
  font-family: $title-font;
  @include responsive(tab-land){
    @include typo(3em, #5a5a5a, 900);
  }
  @include responsive(tab-port){
    @include typo(2.5em, #5a5a5a, 900);
  }
  @include responsive(phone){
    @include typo(1.5em, #5a5a5a, 900);
    margin-bottom: 1em;
  }
  @include responsive(sm){
    @include typo(1.5em, #5a5a5a, 900);
  }
}

.fs-txt{
  @include typo(.9em, #757575, 400);
  margin-bottom: 1em;
}

.skills-boxes{
  // text-align: center;
  .sb-title{
    @include typo(1.5em, $secondary-color, 900);
    margin-bottom: .5em;
    font-family: $title-font;
  }
  .sb-txt{
    @include typo(.9em, #757575, 400);
    margin-bottom: 1em;
  }
}

//second-section
.sbw-title{
  @include typo(1.5em, $white, 900);
  margin-bottom: 1em;
  font-family: $title-font;
}

.sbw-txt{
  @include typo(.9em, #e2e2e2, 400);
  margin-bottom: 1em;
}

//third-section
.tbw-title{
  @include typo(1.5em, $secondary-color, 900);
  margin-bottom: 1em;
  font-family: $title-font;
}

.tbw-txt{
  @include typo(.9em, #757575, 400);
  margin-bottom: 1em;
}

//fourth-section
.fcw-title{
  @include typo(1.5em, $secondary-color, 900);
  margin-bottom: 1em;
  font-family: $title-font;
}
.fcw-txt{
  @include typo(.9em, #757575, 400);
  margin-bottom: 1em;
}

//fifth-section
.fft-s-title{
  @include typo(1.5em, $secondary-color, 900);
  margin-top: 3em;
  margin-bottom: .5em;
  font-family: $title-font;

  @include responsive(phone){
    margin-top: 5em;
  }
}

.fft-s-txt{
  @include typo(.9em, #757575, 400);
  margin-bottom: 1em;
}

.fab-title{
  @include typo(1.5em, $white, 900);
  margin-bottom: 1em;
  font-family: $title-font;
}
.fab-txt{
  @include typo(.9em, #e2e2e2, 400);
  margin-bottom: 1em;
}

//upcoming-stuff
.next-case{
  @include typo(.8em, $secondary-color, 600);
  margin-bottom: 2em;
}

.case-name{
  @include typo(2em, $white, 900);
  margin-bottom: 1em;
  font-family: $title-font;
  @include responsive(tab-port){
    @include typo(1.5em, $white, 900);
  }
}

.ncb-wrapper{
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover{
    cursor: pointer;
  }
  @include responsive(phone){
    width: 70%;
  }

  .next-case-btn{
    @include typo(.9em, $white, 500);
    border-bottom: 1px solid #31312f;
    padding: 0 0 1em 0;
    transition: all .3s ease-in-out;
    &:hover{
      border-bottom: 1px solid $white;
    }
  }
}

//footer
.elb-state{
  @include typo(.8em, $secondary-color, 900);
  margin-bottom: 2em;
}

.elb-address{
  @include typo(.8em, $white, 400);
  margin-bottom: 2em;
}
.elb-number{
  @include typo(.8em, $white, 400);
}

.erb-logo{
  @include typo(1.5em, $secondary-color, 900);
  font-family: $title-font;
  @include responsive(tab-port){
    margin-top: 2em;
  }
}

.ebb-li{
  @include typo(.7em, $white, 400);
}

.elb-email{
  @include typo(.8em, $white, 400);
}

.elbs-email{
  @include typo(1em, $white, 400);
}

.erb-li{
  @include typo(.8em, $white, 400);
}
.go-topz{
  @include typo(.9em, $white, 900);
  z-index: 2000;
  &:hover{
    cursor: pointer;
    color: $secondary-color;
  }
  @include responsive(tab-port){
    float: right;
    margin-top: -.4em;
  }
}

//hidden-menu
.hmt-li{
  @include typo(1em, $white, 400);
  @include responsive(tab-port){
    @include typo(.8em, $white, 400);
  }
}


