.el-divider{
  @include col(4/4); margin-right: 0;
  min-height: 100vh;
  background: url(/resources/img/setup.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;
  margin-top: -1.5em;
  @include responsive(tab-land){
    height: 100vh;
    margin-top: -2em;
    // padding-bottom: -2em;
  }
  @include responsive(tab-port){
    margin-top: -7em;
    // padding-bottom: -2em;
  }

  @include responsive(phone){
    height: 40vh;
  }
}
.ed-ie{
  min-height: 85vh;
}
.ed-re-init{
  bottom: -55em !important;
}
