
.el-main-header{
  @include col(4/4); margin-right: 0;
  padding: 1.5em 2em;
  position: fixed;
  top: 0; left: 0;
  z-index: 104;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4000;
  @include responsive(big-desktop){
    padding: 3em;
  }
  @include responsive(sm){
    padding: 1.5em 1em;
  }
}
