.upcoming-stuff-section{
  @include col(4/4); margin-right: 0;
  padding: 7em 7em 0 7em;
  background: #171616;
  @include responsive(tab-land){
    padding: 7em 2em 2em 2em;
  }
  @include responsive(phone){
    padding: 9em 2em 2em 2em;
  }
  @include responsive(sm){
    padding: 7em 1em;
  }
}
