//about-hero-section
.alb-title{
  @include typo(4em, $white, 500);
  font-family: $hs-title-font;
  margin-bottom: .5em;
  @include responsive(tab-port){
    @include typo(3em, $white, 500);
  }
}

.alb-txt{
  @include typo(.9em, $white, 200);
  margin-bottom: 1.5em;
}
