.a-hero-section{
  @include col(4/4); margin-right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-uno{
  @include col(4/4); margin-right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    @include typo(2em, $white, 700);
  }
}

.section-dos{
  @include col(4/4); margin-right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    @include typo(2em, $white, 700);
  }
}

.section-tres{
  @include col(4/4); margin-right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    @include typo(2em, $white, 700);
  }
}

//bg-changer
.bg-active{
  background: rgb(56, 56, 56);
}
.bg-active-dos{
  background: $secondary-color;
}
.bg-active-tres{
  background: rgb(196, 196, 196);
}
