//hero section
.ahs-ct-box{
  width: 0%;
  height: 30em;
  background: $secondary-color;
  position: absolute;
  left: 0;
}

.acb-anim{
    animation: go-left-two 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
      -moz-animation: go-left-two 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        -webkit-animation: go-left-two 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          -o-animation: go-left-two 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;

    @keyframes go-left-two {
      0% {
        left: 0;
        width: 0%;
      }
      50% {
        left: 0;
        width: 50%;
      }
      100% {
        left: 50%;
        width: 0;
      }
    }
  }
